USE [master]
GO
/****** Object:  Database [Plantation_DB]    Script Date: 07.04.2024 18:55 ******/
CREATE DATABASE [Plantation_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Растениеводство', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Растениеводство.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Растениеводство_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Растениеводство_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plantation_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plantation_DB]
GO
/****** Object:  Table [dbo].[Culture_table]    Script Date: 07.04.2024 18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Culture_table](
	[Код] [int] NOT NULL,
	[Название] [nvarchar](100) NULL,
	[Семейство] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts_table]    Script Date: 07.04.2024 18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts_table](
	[Код] [int] NOT NULL,
	[Название_района] [nvarchar](100) NULL,
	[Название_области] [nvarchar](100) NULL,
	[Фамилия_главы_администрации] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productivity_table]    Script Date: 07.04.2024 18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productivity_table](
	[Код] [int] NOT NULL,
	[Код_культуры] [int] NULL,
	[Код_района] [int] NULL,
	[Урожайность_в_ц_га] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Productivity_table] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
